# Step 1: Data Understanding & Cleaning

## Objective
- Load and inspect the Telco Customer Churn dataset
- Understand feature types and distributions
- Correct data types
- Handle missing and invalid values
- Standardize categorical variables

This step ensures the dataset is clean, consistent, and ready for EDA and modeling.

In [1]:
import sys
print(sys.executable)

c:\Users\admin\AppData\Local\Programs\Python\Python311\python.exe

In [2]:
# import required modules

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Display options for clarity
pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", 200)

In [4]:
# Load raw data
data_path = "C:\\Users\\admin\\OneDrive\\Desktop\\CHURN PREDICTION\\customer-churn-prediction\\data\\raw\\churn_raw.csv"
df = pd.read_csv(data_path)

# Inspect the first few rows
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [5]:
# inspect the last few rows
df.tail()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
7038,6840-RESVB,Male,0,Yes,Yes,24,Yes,Yes,DSL,Yes,No,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.80,1990.5,No
7039,2234-XADUH,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,No,Yes,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.20,7362.9,No
7040,4801-JZAZL,Female,0,Yes,Yes,11,No,No phone service,DSL,Yes,No,No,No,No,No,Month-to-month,Yes,Electronic check,29.60,346.45,No
7041,8361-LTMKD,Male,1,Yes,No,4,Yes,Yes,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Mailed check,74.40,306.6,Yes
7042,3186-AJIEK,Male,0,No,No,66,Yes,No,Fiber optic,Yes,No,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.5,No

In [6]:
# data frame shape
df.shape

(7043, 21)

In [7]:
# data frame info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [8]:
# Convert to numeric, invalid parsing becomes NaN
df['TotalCharges'] = pd.to_numeric(df['TotalCharges'], errors='coerce')

# Check how many are NaN
print("Missing TotalCharges:", df['TotalCharges'].isna().sum())

Missing TotalCharges: 11

In [9]:
df = df.dropna(subset=['TotalCharges'])
df.reset_index(drop=True, inplace=True)
print("Shape after dropping missing TotalCharges:", df.shape)

Shape after dropping missing TotalCharges: (7032, 21)

In [10]:
# encode binary columns
binary_cols = ["Partner",
    "Dependents",
    "PhoneService",
    "Churn",
    "PaperlessBilling",]

for col in binary_cols:
    df[col] = df[col].map({'Yes': 1, 'No': 0})

In [11]:
df['Churn'].value_counts(dropna=False)

Churn
0    5163
1    1869
Name: count, dtype: int64

In [12]:
# Standardize Categorical Columns
# Strip whitespace from object columns
for col in df.select_dtypes(include='object').columns:
    df[col] = df[col].str.strip()

In [13]:
# Convert gender to binary

df['gender'] = df['gender'].map({'Male': 1, 'Female': 0})

In [14]:
# check for duplicates
duplicates = df.duplicated().sum()
print("Number of duplicate rows:", duplicates)

Number of duplicate rows: 0

In [15]:
# find missing values
missing_values = df.isnull().sum()
print("Missing values in each column:\n", missing_values[missing_values > 0])

Missing values in each column:
 Series([], dtype: int64)

In [16]:
# Summary statistics
df.describe(include='all')

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
count,7032,7032.000000,7032.000000,7032.000000,7032.000000,7032.000000,7032.000000,7032,7032,7032,7032,7032,7032,7032,7032,7032,7032.000000,7032,7032.000000,7032.000000,7032.000000
unique,7032,NaN,NaN,NaN,NaN,NaN,NaN,3,3,3,3,3,3,3,3,3,NaN,4,NaN,NaN,NaN
top,7590-VHVEG,NaN,NaN,NaN,NaN,NaN,NaN,No,Fiber optic,No,No,No,No,No,No,Month-to-month,NaN,Electronic check,NaN,NaN,NaN
freq,1,NaN,NaN,NaN,NaN,NaN,NaN,3385,3096,3497,3087,3094,3472,2809,2781,3875,NaN,2365,NaN,NaN,NaN
mean,NaN,0.504693,0.162400,0.482509,0.298493,32.421786,0.903299,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.592719,NaN,64.798208,2283.300441,0.265785
std,NaN,0.500014,0.368844,0.499729,0.457629,24.545260,0.295571,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.491363,NaN,30.085974,2266.771362,0.441782
min,NaN,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,18.250000,18.800000,0.000000
25%,NaN,0.000000,0.000000,0.000000,0.000000,9.000000,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,35.587500,401.450000,0.000000
50%,NaN,1.000000,0.000000,0.000000,0.000000,29.000000,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,70.350000,1397.475000,0.000000
75%,NaN,1.000000,0.000000,1.000000,1.000000,55.000000,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,89.862500,3794.737500,1.000000
max,NaN,1.000000,1.000000,1.000000,1.000000,72.000000,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,118.750000,8684.800000,1.000000

In [17]:
# Save the cleaned dataset for EDA & modeling
df.to_csv("../data/processed/churn_clean.csv", index=False)
print("Cleaned dataset saved to: ../data/processed/churn_clean.csv")

Cleaned dataset saved to: ../data/processed/churn_clean.csv

# Step 1: Data Understanding & Cleaning Completed

**Key Actions:**
1. Removed 11 rows with invalid `TotalCharges`.
2. Converted `TotalCharges` to numeric.
3. Encoded binary columns (Partner, Dependents, PhoneService, PaperlessBilling, Churn, gender).
4. Standardized categorical columns.
5. Checked for duplicates and missing values  none remaining.
6. Cleaned dataset saved as `data/processed/churn_clean.csv`.

**Next Step:** Conduct Exploratory Data Analysis (EDA) to visualize churn patterns and feature relationships.